body{
    background-color: burlywood;
}
/*header*/
h1{
    height: 191px;
    width: 1800px;
    background-color: darkturquoise;
    font-size: 120px;
    font-family: fantasy;
    border-radius: 0;
    margin: 0px;
}
div.top{
    float: center;
}
img.logo{
    width: 300px;
    float: left;
    height: 250px;
    background-color: blueviolet;
}
/*navigation bar*/
button{
    float: left;
    background-color: black;
    margin: 55px;
    margin-top: 0px;
    font-size: 50px;
    border: 0px;
}

button:hover{
    background-color: rgba(138, 123, 123, 0);
}
nav{
    float:left;
    list-style-type: none;
    height: 59px;
    width: 1500px;
    margin: 8;
    border: 0;
    font-size: 46px;
    position: sticky;
    top: 10px;
    background-color: darkslategrey;
}
a:link{
    color: crimson;
}
a:visited{
    color: darkblue;
}
a:active{
    color: darkorchid;
}
a:hoover{
    color: darkslategray;
}
/* classes */
div#Title{
    float: left;
    width: 1800px;
    background-color: lightsalmon;
}
/* fighter class */
p{
    font-size: 50px;
}
img.fighter{
    height: 600px;
    width: 500px;
}
/* Rougue class */
img.Rogue{
    height: 600px;
    width: 500px;
}
/* Footer */
footer{
    height: 400px;
    width: 1800px;
    background-color: black;
}
button.footer{
    font-size: 20px;
    color:white;
    width: 1300px;
    float: left;
}
div.ft{
    width: 1300px;
    float: left;
}
img.ft{
    height: 400px;
    float: right;
}